<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hualianzb.sec">

    <!-- 增加权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.hualianzb.sec.application.SECApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="4a36d819cd" />
        <!--配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="101" />

        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="neibufabu" />

        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
        <meta-data
            android:name="design_width"
            android:value="1080"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="1920"></meta-data>

        <activity
            android:name="com.hualianzb.sec.ui.activitys.GuidePage"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--GuidePage-->
        <activity
            android:name="com.hualianzb.sec.ui.activitys.CreateInsertWalletActivity"
            android:label="CreateInsertWalletActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.hualianzb.sec.ui.activitys.CreateWalletActivity"
            android:label="CreateWalletActivity"
            android:windowSoftInputMode="adjustPan|stateVisible"></activity>

        <activity
            android:name="com.hualianzb.sec.ui.activitys.BackupMnemonicsOneActy"
            android:label="BackupMnemonicsActy1"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.hualianzb.sec.ui.activitys.BackupMnemonicsTwoActy"
            android:label="BackupMnemonicsActy2"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.hualianzb.sec.ui.activitys.BackupMnemonicsThreeActy"
            android:label="BackupMnemonicsActy3"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hualianzb.sec.ui.activitys.HomePageActivity"
            android:label="HomePageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.ImportWalletActivity"
            android:label="ImportWalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hualianzb.sec.ui.activitys.ManagerWalletActy"
            android:label="ManagerWalletActy"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hualianzb.sec.ui.activitys.MakeMoneyActicity"
            android:label="MakeMoneyActicity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.hualianzb.sec.ui.activitys.ChangePassActy"
            android:label="ChangePassActy"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.hualianzb.sec.ui.activitys.TransactionRecordActy"
            android:label="TransactionRecordActy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.ChangeWalletActivity"
            android:label="ChangeWalletRecordActy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.TransferActivity"
            android:label="TransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.MakeCodeActivity"
            android:label="MakeCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.IntroduceMnActy"
            android:label="IntroduceMnActy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.IntroduceKeystoreAcy"
            android:label="IntroduceKeystoreAcy"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hualianzb.sec.ui.activitys.IntroducePrivatekeyAcy"
            android:label="IntroducePrivatekeyAcy"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hualianzb.sec.ui.activitys.TransactionRecordDetailAllActivity"
            android:label="TransactionRecordDetailAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.AddressBookActivity"
            android:label="AddressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.AddAddressActivity"
            android:label="AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.ChangeAddressActivity"
            android:label="ChangeAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hualianzb.sec.ui.activitys.WebActivity"
            android:label="WebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activitys.TransactionRecordSecActivity" />
        <activity
            android:name=".ui.activitys.CheckPassActivity"
            android:label="CheckPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <receiver android:name="com.hualianzb.sec.utils.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.Net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>